<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 병동 and 호실 기준 병상 현황 정보 불러오기 READ-->
<mapper namespace="com.douzone.HISservice.repository.BedInfoDAO">

    <select id="getOccupiedBedInfoList"  parameterType="HashMap" resultType="HashMap">
        SELECT a.WARD, a.ROOM_NUM, a.BED_NUM, d.PATIENT_NAME, e.EMP_NAME
        FROM bed_tb as a
                 LEFT JOIN admission_tb AS b ON a.WARD = b.WARD  and a.ROOM_NUM = b.ROOM_NUM and a.BED_NUM = b.BED_NUM
                 LEFT JOIN treatment_info_tb AS c ON b.TREATMENT_NUM_PK = c.TREATMENT_NUM_PK
                 LEFT JOIN patient_tb AS d ON c.PATIENT_ID_FK = d.PATIENT_ID_PK
                 LEFT JOIN emp_info_tb AS e ON c.EMP_ID_FK = e.EMP_ID_PK
                 LEFT JOIN admission_status AS f ON f.ADMISSION_STATUS_CODE = b.ADMISSION_STATUS_CODE
        WHERE a.WARD = #{ward} AND a.ROOM_NUM = #{roomNum};
    </select>
</mapper>
