<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 입원환자 수납 정보 READ-->
<mapper namespace="com.douzone.HISservice.repository.ReceiptDAO">

    <select id="getChangeStateList" resultType="HashMap">
        select ADMISSION_ID_PK , ADMISSION_STATUS_CODE
        from ADMISSION_TB
        where ADMISSION_STATUS_CODE = 'IC' and DISCHARGE_DUEDATE = date_format(now(),'%Y-%m-%d') OR ADMISSION_STATUS_CODE = 'ID' and DISCHARGE_DUEDATE <![CDATA[<]]> date_format(now(),'%Y-%m-%d');
    </select>

    <update id="putChangeState" parameterType="HashMap">
        UPDATE ADMISSION_TB
        <if test="ADMISSION_STATUS_CODE  == 'IC'">
            SET ADMISSION_STATUS_CODE = 'ID'
        </if>
        <if test="ADMISSION_STATUS_CODE  == 'ID'">
            SET ADMISSION_STATUS_CODE = 'IG'
        </if>
        WHERE ADMISSION_ID_PK = #{ADMISSION_ID_PK};
    </update>

    <select id="getChangeMiddleList" resultType="HashMap">
        select ADMISSION_ID_PK
        from ADMISSION_TB
        where (TIMESTAMPDIFF(DAY, ADMISSION_DATE , now()))*50000 >= 1250000 and ADMISSION_STATUS_CODE = 'IC';
    </select>

    <update id="putChangeMiddle" parameterType="HashMap">
        UPDATE ADMISSION_TB
        SET MIDDLE_PAY_DATE = date_format(now(),'%Y-%m-%d')
        WHERE ADMISSION_ID_PK = #{ADMISSION_ID_PK};
    </update>

    <select id="getAdReceiptList" parameterType="String" resultType="HashMap">
        SELECT ADMISSION_ID_PK, AD_CODE_NAME ,C.PATIENT_NAME ,	C.GENDER , C.PATIENT_AGE ,	A.WARD+A.ROOM_NUM AS WARDROOM , A.BED_NUM
        from ADMISSION_TB as A
        LEFT JOIN TREATMENT_INFO_TB as B on A.TREATMENT_NUM_FK = B.TREATMENT_NUM_PK
        LEFT JOIN PATIENT_TB as C on B.PATIENT_ID_FK = C.PATIENT_ID_PK
        LEFT JOIN admission_status as D on A.ADMISSION_STATUS_CODE = D.ADMISSION_STATUS_CODE
        WHERE
        <if test="filter == '[today]'">
            DISCHARGE_DUEDATE <![CDATA[=]]> date_format(now(),'%Y-%m-%d') AND A.ADMISSION_STATUS_CODE = 'ID';
        </if>
        <if test="filter == '[middlePayment]'">
            ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is null) OR ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is not null);
        </if>
        <if test="filter == '[notPayment]'">
            A.ADMISSION_STATUS_CODE = 'IG' and DISCHARGE_DUEDATE <![CDATA[<]]> date_format(now(),'%Y-%m-%d');
        </if>
        <if test="filter == '[today, notPayment]' or filter == '[notPayment, today]'">
            DISCHARGE_DUEDATE = date_format(now(),'%Y-%m-%d') AND A.ADMISSION_STATUS_CODE = 'ID' OR A.ADMISSION_STATUS_CODE = 'IG';
        </if>
        <if test="filter == '[today, middlePayment]' or filter == '[middlePayment, today]'">
            (DISCHARGE_DUEDATE = date_format(now(),'%Y-%m-%d') AND A.ADMISSION_STATUS_CODE = 'ID') OR ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is null) OR ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is not null);
        </if>
        <if test="filter == '[middlePayment, notPayment]' or filter == '[notPayment, middlePayment]'">
            (DISCHARGE_DUEDATE = date_format(now(),'%Y-%m-%d') AND A.ADMISSION_STATUS_CODE = 'ID') OR ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is null) OR ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is not null);
        </if>
        <if test="filter.length() > 28 or filter.length() == 2 ">
            (DISCHARGE_DUEDATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d') AND A.ADMISSION_STATUS_CODE = 'ID' OR A.ADMISSION_STATUS_CODE = 'IG') OR ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is null) OR ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , now()))*50000 >= 1250000 and A.ADMISSION_STATUS_CODE = 'IC' and MIDDLE_PAY_DATE is not null);
        </if>

    </select>

    <select id="getAdReceiptPay"  parameterType="HashMap" resultType="HashMap">
        select
        a.ADMISSION_ID_PK ,
        ADMISSION_DATE ,
        ADMISSION_STATUS_CODE,
        MIDDLE_PAY_DATE,
        DISCHARGE_DUEDATE ,
        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d')),
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d')),
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)
        )
        ) as ADMISSION_TOTAL_DAY,
        a.TREATMENT_NUM_FK,
        <!--insurance_cost-->
        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0), 0) ,
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000)*0.25,0), 0)
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0), 0),
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000)*0.25,0), 0)
        )
        ) as INSURANCE_COST ,
        <!--total_cost-->
        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d')))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000))
        ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000))
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d')))*50000) - truncate((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000))
        ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000))
        )
        ) as TOTAL_COST
        from
        ADMISSION_TB as a
        left join TREATMENT_INFO_TB as b on a.TREATMENT_NUM_FK = b.TREATMENT_NUM_PK
        left join PATIENT_TB as c on b.PATIENT_ID_FK = c.PATIENT_ID_PK
        where
        ward=#{ward} and room_num = #{roomNum} and bed_num = #{bedNum}  and DISCHARGE_DATE is null;
    </select>


    <select id="getAdReceipt"  parameterType="String" resultType="HashMap">
        select
        a.ADMISSION_ID_PK ,
        ADMISSION_DATE ,
        ADMISSION_STATUS_CODE,
        MIDDLE_PAY_DATE,
        DISCHARGE_DUEDATE ,
        c.PATIENT_ID_PK,
        c.PATIENT_NAME,
        d.SPECIALITY,
        e.DIAGNOSIS,
        a.ward,
        a.room_num,
        a.bed_num,
        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d')),
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d')),
        TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)
        )
        ) as ADMISSION_TOTAL_DAY,
        a.TREATMENT_NUM_FK,

        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0), 0) ,
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000)*0.25,0), 0)
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0), 0),
        if(INSURANCE = 1, truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000)*0.25,0), 0)
        )
        ) as INSURANCE_COST ,

        if(MIDDLE_PAY_DATE is null,
        if(DISCHARGE_DUEDATE is null ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d')))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , date_format(now(),'%Y-%m-%d'))*50000))
        ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , DISCHARGE_DUEDATE)*50000))
        )
        ,
        if(MIDDLE_PAY_DATE <![CDATA[<=]]> date_format(now(),'%Y-%m-%d'),
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d')))*50000) - truncate((TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, MIDDLE_PAY_DATE , date_format(now(),'%Y-%m-%d'))*50000))
        ,
        if(INSURANCE = 1
        , ((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE))*50000) - truncate((TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000)*0.25,0)
        , (TIMESTAMPDIFF(DAY, ADMISSION_DATE , MIDDLE_PAY_DATE)*50000))
        )
        ) as TOTAL_COST
        from
        ADMISSION_TB as a
        left join TREATMENT_INFO_TB as b on a.TREATMENT_NUM_FK = b.TREATMENT_NUM_PK
        left join PATIENT_TB as c on b.PATIENT_ID_FK = c.PATIENT_ID_PK
        left join RECEIVE_TB as d on b.RECEIVE_ID_FK = d.RECEIVE_ID_PK
        left join DIAGNOSIS_TB as e on b.DIAGNOSIS_CODE = e.DIAGNOSIS_CODE
        where
             ADMISSION_ID_PK = #{admissionId};
    </select>

    <!--입원환자 수납 완료 정보 CREATE-->
    <insert id="setAdReceipt" parameterType="HashMap">
        INSERT INTO
            INPATIENT_RECEIPT_TB
                                (
                                    INRECEIPT_ID_PK,
                                    ADMISSION_ID_FK,
                                    TREATMENT_NUM_FK,
                                    ADMISSION_COST,
                                    INSURANCE_COST,
                                    TOTAL_COST,
                                    PAYMENT_DATE
                                )
            VALUES
                                (
                                    (SELECT CONCAT('IR',SUBSTR(NOW(),3,2)*1000000 + 1 + (SELECT COUNT(*) FROM INPATIENT_RECEIPT_TB AS a))),
                                    #{ADMISSION_ID_PK},
                                    #{TREATMENT_NUM_FK},
                                    #{ADMISSION_TOTAL_DAY}*50000,
                                    #{INSURANCE_COST},
                                    #{TOTAL_COST},
                                    date_format(now(),'%Y-%m-%d')
                                );
    </insert>

    <!-- 환자 상태값 변경 -->
    <update id="putReceiptComplete" parameterType="HashMap">
        UPDATE ADMISSION_TB
        <if test="MIDDLE_PAY_DATE == null and DISCHARGE_DUEDATE != null">
            SET ADMISSION_STATUS_CODE = 'IE', DISCHARGE_DATE = now()
        </if>
        <if test="MIDDLE_PAY_DATE != null and DISCHARGE_DUEDATE != null">
            SET ADMISSION_STATUS_CODE = 'IE', DISCHARGE_DATE = now()
        </if>
        <if test="MIDDLE_PAY_DATE == null and DISCHARGE_DUEDATE == null">
            SET MIDDLE_PAY_DATE = date_format(now(),'%Y-%m-%d')
        </if>
        <if test="MIDDLE_PAY_DATE != null and DISCHARGE_DUEDATE == null">
            SET MIDDLE_PAY_DATE = date_format(now(),'%Y-%m-%d')
        </if>
        WHERE ADMISSION_ID_PK = #{ADMISSION_ID_PK};
    </update>


    <select id="getBillData" parameterType="String" resultType="HashMap">
        select a.INRECEIPT_ID_PK,b.MIDDLE_PAY_DATE,b.DISCHARGE_DATE , a.PAYMENT_DATE
        from
            INPATIENT_RECEIPT_TB as a left join ADMISSION_TB as b on a.ADMISSION_ID_FK = b.ADMISSION_ID_PK
        where a.ADMISSION_ID_FK = #{ADMISSION_ID_PK};

    </select>

</mapper>
